<%- include('header'); -%>

<h1>Compose</h1>
<form method="post" action="/compose">
  <h3>Title</h3>
  <input type="text" name="postTitle">
  <h3>Content</h3>
  <textarea rows="4" cols="50" name="postBody"></textarea>
  <br>
  <button type="submit">Publish</button>
</form>
<%- include('footer'); -%>